* {
  background-color: bisque;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img {
  width: 10pc;
  padding: 10px;
  float: left;
  background-color: white;
}

.Review {
  list-style-type: none;
  border-color: #282c34;
  border-style: solid;
  margin: 10px;
  padding-bottom: 90px;
  background-color: white;
}

.Comment {
  list-style-type: none;
  border-color: #282c34;
  border-style: solid;
  margin: 10px;
  background-color: white;
}

.AddComment {
  background-color: white;
  height: 40px;
  width: 55pc;
}

.submitBtn {
  margin: 20px;
}

.Review_title {
  font-weight: bold;
  background-color: white;
}

.Review_body {
  background-color: white;
}

.Single_review_title {
  font-weight: bold;
}

.Author {
  font-weight: bold;
  background-color: white;
}

.Comment_body {
  background-color: white;
}

.Comment_date {
  background-color: white;
}

.Comment_votes {
  background-color: white;
}
